<%= render "shared/header" %>

<div class="stacks">
<% @stacks.each do |stack| %>
<%# 積み上げの投稿を1つづつに分ける %>
<div class="stack">
 <p><%=stack.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒")%></p>
 <p><%=stack.user.nickname %></p>
 <p><%=stack.text %></p>
</div>
<% end %>
</div>