<div class="content__block--calender">
  <%= month_calendar events: @stacks do |date, stacks| %>
    <%= date.day %>
      <% stacks.each do |stack| %>
        <div class="calendar">
          <% if stack.achieved == true%>
            <%= link_to stack_path(stack) do%>
              <i class="fas fa-mountain"></i>
            <%end%>          
          <%end%>
        </div>
     <% end %>
   <% end %>
</div>