<div class="content__block--calender">
  <%= month_calendar events: @stacks do |date, stacks| %>
    <%= date.day %>
      <% stacks.each do |stack| %>
        <div class="calendar">
        <% if stack.achieved == true%>
            <%= stack.text%>
            <%end%>
        </div>
     <% end %>
   <% end %>
</div>