<%= render "shared/header" %> 
 
 <%# ユーザーページ一覧 %>
 <div class="top-page">

 <%# 今日の積み上げ一覧 %>
  <div class="must-list">
  <h3><%= @today%> のちりつも</h3>
    <ul class="must">
     <% @today_stacks.each do |today_stack|%>
     <li><%= today_stack.text%></li>
    </ul>

    <%end%>
  </div>

  <%# 今日のスケジュール %>
  <div class="schedule">
  </div>

<%# その他項目 %>
  <ul>
  <li><% if user_signed_in? && current_user == @user %>
  <%=link_to "プロフィールを編集する",edit_user_path(@user) %></li>
  <%else%>
  <%end%>
  <li></li>
  <li></li>
  </ul>
</div>
