<%# その他項目 %>
  <ul>
  <li><% if user_signed_in? && current_user == @user %>
  <%=link_to "プロフィールを編集する",edit_user_path(@user) %></li>
  <%else%>
  <%end%>
  </ul>


<div class="container-fluid">
  <div class="row">
  <%# ※左の4つぶん %>
    <div class="col-md-4">
      <div class="task">
    <h3>今日のちりつも</h3>
     <% @today_stacks.each do |today_stack|%>
     <div class="check">
     <% if today_stack.date.strftime("%Y-%m-%d") == Date.today.strftime("%Y-%m-%d") %>
       <li><%= today_stack.text%></li>   
        <%# ※とりあえず入れたチェックボックス  %>
       <%end%>

    </div> 
     <%end%>
    </div>
    </div>

    <div class="col-md-8">
      <h3>今週の予定</h3>

      <div id='calendar'><div>
    </div>
</div>
</div>

<div class="container">
  <div class="col-md-12">
  <h1><%= @month%>月のちりつも</h1>
  <%= render 'calendar', events: @stacks %>
</div>  
