/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

// ※ヘッダーの編集
.nav-item{
    margin-left: 100px;
    color: #ff5470;
    display: flex;
    align-items: center;
  }

.nav-link{
  color:gray;
}

.card{
  background-color: #fffffe;
}

 header {
   margin-bottom: 50px;
   background-color: #2cb67d;
 }

 .user-image{
    border-radius: 50%;  
 }

 .maxWidth {
  max-width:1170px;
  }

  h3 {
    text-align: center;
  }
  .icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: "\f007";
  }

  // 背景イメージ
  body {
    background-color:#eff0f3;
    background-size: cover;
    background-attachment: fixed;
    height: auto;   
  }

  // バリデーションエラー
  .error-message{
    color: green;
  }

  .alert {
    text-align: center;
    color: black;
  }
  .alert-success {
    background-color: #3da9fc;
  }
  
  .alert-notice {
    background-color: #ffd803;
  }
  
  .alert-danger {
    background-color:#f45d48;
  }

  .nav-link{
    text-align: center;
    
  }
