// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

// 自分のコメント
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background:#2cb67d;
  font-size: 15px;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #2cb67d;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}





// 自分以外の人のコメント
.friendcomment {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.friendcomment .faceicon {
  float: left;
  margin-right: -30px;
  width: 40px;
}
.friendcomment .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}
.friendcomment .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #eaddcf;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid  #eaddcf;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

// ユーザーがフォームサイズを自由に変更できる機能を停止させておく
#chat_message {
  resize: none;
}