// Place all the styles related to the stacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  margin-bottom: 20px;
}

.tasks{
  height: 500px;
  border: solid 0.001px #DCDCDC	;
  padding: 10px;
}

.col-md-12{
  border: solid 0.001px #DCDCDC	;
}


// ※アイコン
.fa-heart{
  color: red;
}

.fa-trash-alt{
  color: black;
}

.fa-edit{
  color: black;
}

.fa-user-edit{
  color: blue;
  font-size: 25px;
}

.fa-circle{
  color: red;
}

.fa-times{
  color: blue;
}

.fa-trash-alt{
  color: #0033FF;
}

.fa-mountain{
  color: green;
}
// ※ちりつも達成可否判断
div[data-check="true"] {
  text-decoration: line-through;
}

// ※ちりつも詳細のアイコンとニックネームを横並び
.profile{
  display: flex;
}

.profile{
  display: flex;
  justify-content: space-between;
}

.already{
  background-color: #ffd803;
  color: white;
  border: solid 0.001px #DCDCDC	;
  padding: 5px;
  border-radius: 100px;
}

// ハート、コメントのカウント
.counts{
  display: flex;
  justify-content: flex-end;
}

.tags{
  padding: 15px;
}

.tag{
  background-color: gray;
  color: white;
  padding: 7px;
  border-radius: 20px;
  margin-left: 6px;
}