// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿ボタン
.article_form
{
  position: fixed;
  bottom: 20px;
  z-index: 1;
  right: 50px;
  border-radius: 150px;
  background-color:#f25042;
  .pen{
    margin: 30px;
    color: white;
  }
}

.user-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.follow{
  display: flex;
  align-items: center;
  justify-content: center;
}

.status{
  display: flex;
  justify-content: center;
}

.profile-parts {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.achievement{
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.ranking-user{
  display:flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
}